# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/

# Output and build directories
build/
dist/
*.egg-info/
*.png
*.csv
*.log
